.content{
    margin-left:5%
}

.totalPrice{
    margin-top: 5px;
}

.buttonDone{
    margin-top: 7%;
}

.titleCart{
    margin-bottom:5%;
}

.botonera{
    display:flex;
    justify-content: flex-end;
}

.botonera-span{
    margin-top: 8px;
}