.contactJS{
    background-color:white;
}

.contact{
    margin-top: 50px;
    margin-bottom:30px;
    text-decoration: underline;
    font-weight: bold;
    font-size: 25px;
    margin-left: 48%;
}

#buttonContact{
    margin-left:45%;
}