.profileJS{
    background-color:white;
}

.profile{
    margin-top: 50px;
    margin-bottom:30px;
    text-decoration: underline;
    font-weight: bold;
    font-size: 25px;
    margin-left: 46%;
}

#buttonSave{
    margin-left:42%;
}

#buttonDelete{
    margin-left:42%;
}