.registerJS{
    background-color:white;
}

.register{
    margin-top: 30px;
    margin-bottom:30px;
    text-decoration: underline;
    font-weight: bold;
    font-size: 25px;
    margin-left: 48%;
}

.footer{
    background-color: #222;
    margin-top: 9%;
}

#compras{
    display: none;
}

#buttonRegister{
    margin-left:45%;
}