.cheesesaladJS{
    background-color:white;
}

.cheesesalad{
    margin-top: 50px;
    margin-bottom:30px;
    text-decoration: underline;
    font-weight: bold;
    font-size: 25px;
    margin-left: 38%;
}
